<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de clientes</title>
	<style> 
	
		#form1 {
				text-align: center;
			}
	</style>
</head>
<body>
    <!-- -->
	<form id="form1" action ="acceso" name="formularioRegistro" method="post"> 
		
	<label> <font color="blue">INTRODUCE TUS DATOS PERSONALES </font> </label><br><br><br>
	
	<label> {{ clave }}</label>
	<input name="claveIngresado" type="text" required> <br><br>
	
	<label> {{ nombre }}</label>
	<input name="nombreIngresado" type="text" required> <br><br>
		
	<label> {{ apellido }}</label>
	<input name="apellidoIngresado" type="text" required> <br><br>
	
	<label> {{ correo }}</label>
	<input name="correoIngresado" type="email" required> <br><br>
	
	<label> {{ calle }}</label>
	<input name="calleIngresado" type="text" required> <br><br>
	
	<label> {{ colonia }}</label>
	<input name="coloniaIngresado" type="text" required> <br><br>
	
	<label> {{ cp }}</label>
	<input name="zipIngresado" type="number" required> <br><br>
	
	<label> {{ ciudad }}</label>
	<input name="ciudadIngresado" type="text" required> <br><br>
	
	<label> {{ pais }}</label>
	<input name="paisIngresado" type="text" required> <br><br>
	
	<label> {{ telefono }}</label>
	<input name="telefonoIngresado" type="number" required> <br><br>
	
    <br><br><br>
	<button name = "envia" type="submit"> Registra! </button>
	
	</form>
	
</body>

</html>